#chat-screen {
  background-color: #abc1d1;
  height: 300vh;
}

#chat-screen .status-bar,
#chat-screen .alt-header {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}

#chat-screen .status-bar {
  z-index: 2;
}
#chat-screen .alt-header {
  z-index: 1;
}

.main-chat {
  padding: 25px var(--horizontal-space) 0px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat__timestamp {
  color: white;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 8px 10px;
  font-size: 12px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.message-row {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 10px;
}
.message__author {
  display: block;
  margin-bottom: 5px;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__bubble {
  background-color: white;
  padding: 10px 12px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  font-size: 16px;
  margin-right: 5px;
}
.message__author,
.message__time {
  opacity: 0.8;
  font-size: 13px;
}

.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}
/* 
  flex children에게만 적용되는 order 속성을
  통해서 직접 표시되는 순서를 바꿀 수 있음
*/
/* .message-row--own .message__time {
  order: 0;
}
.message-row--own .message__bubble {
  order: 1;
} */
.message-row--own .message__info {
  flex-direction: row-reverse;
}
