#chat-screen {
  background-color: #abc1d1;
  height: 300vh;
}

#chat-screen .status-bar,
#chat-screen .alt-header {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}

#chat-screen .status-bar {
  z-index: 2;
}
#chat-screen .alt-header {
  z-index: 1;
}

@keyframes fadeIn {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  padding: 25px var(--horizontal-space) 0px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.3s ease-in-out;
}
.chat__timestamp {
  color: white;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 8px 10px;
  font-size: 12px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.message-row {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 10px;
}
.message__author {
  display: block;
  margin-bottom: 5px;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__bubble {
  background-color: white;
  padding: 10px 12px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  font-size: 16px;
  margin-right: 5px;
}
.message__author,
.message__time {
  opacity: 0.8;
  font-size: 13px;
}

.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}
/* 
  flex children에게만 적용되는 order 속성을
  통해서 직접 표시되는 순서를 바꿀 수 있음
*/
/* .message-row--own .message__time {
  order: 0;
}
.message-row--own .message__bubble {
  order: 1;
} */
.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  box-sizing: border-box;
  align-items: center;

  transition: transform 0.3s ease-in-out;
}
/* input의 부모인 reply__column이 width를 
 가져야 그 자식인 input이 width를 사용할 수 있음 */
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply input {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  border: var(--main-border);
  border-radius: 20px;
  font-size: 16px;

  transition: transform 0.3s ease-in-out;
}
.reply i {
  opacity: 0.5;
}

/* 버튼 안에 있는 아이콘에 영향을 주지 않게 하기 위해
  '>' 표시를 추가
*/
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 3px;
  top: 3px;
}
.reply__column:last-child > i {
  right: 42px;
  top: 18px;
}
.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.reply__column button i {
  opacity: 1;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-face-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 95vw;
  transform: translateX(-12%) translateY(-80px);
}
.reply:focus-within {
  transform: translateY(80px);
}
