#friends-dispaly-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 12px 0px;
  font-size: 15px;
  margin-bottom: 5px;
  /* margin-top: -10px; */
  width: 100%;

  position: fixed;
  top: 85px;
}
#friends-dispaly-link i {
  color: rgba(0, 0, 0, 0.2);
  padding: 0px 6px;
}

.friends__screen {
  padding: 0px var(--horizontal-space);
  position: fixed;
  top: 135px;
  width: 100%;
  box-sizing: border-box;
}
.friends-screen__channel {
  margin-top: 15px;
  border-top: var(--main-border);
  padding-top: 10px;
}
.friends-screen__channel-header {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
}
#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 92px;
  color: #3c1e1e;
}
