.icon-row {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}
.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 25%;
  padding: 0 10px 30px;
  box-sizing: border-box;
  transition: color 0.3s ease-in-out;
  color: rgba(0, 0, 0, 0.6);
}
.icon-row__icon i {
  font-size: 30px;
}
.icon-row__icon span {
  margin-top: 15px;
  font-size: 14px;
}
.more-suggestions {
  border-top: var(--main-border);
  padding-top: 20px;
}
.more-suggestions__title {
  margin-bottom: 15px;
}
.more-suggestions__icons {
  display: flex;
  flex-wrap: wrap;
}
.more-suggestions__icon {
  /* margin-right: 15px; */
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 25%;
  padding-bottom: 30px;
  box-sizing: border-box;
}
.more-suggestions__icon-image {
  width: 40px;
  height: 40px;
  background-color: var(--yellow);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.more-suggestions__icon-image i {
  font-size: 26px;
  color: white;
}
.more-suggestions__icon-text {
  font-size: 12px;
  color: var(--color-gray);
}
